<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   {% load static %}
    <link rel="stylesheet" href="{% static "frontend/bootstrap.min.css" %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="http://localhost:8000/#/">LearnOverFlow</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8000/create/articals"
              >create Post</a
            >
          </li>
          <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">courses</a>
    <div class="dropdown-menu" style="">
      <a class="dropdown-item" href="http://localhost:8000/#/cours">courses</a>
      <a class="dropdown-item" href="http://localhost:8000/#/create/cours"> create courses</a>
      
     
    </div>
  </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container col-8">
      <div class="card p-3 m-5  border-success">
        <form action="" method="post">
          {% csrf_token%}
          <div class="container">
            <div class="form-group">
              <label for="title">title :</label>
              <div class="container">
                {{form.title}}
              </div>
            </div>
            <div class="form-group">
              <label for="description">description :</label><br />
              <div class="container">
                {{form.description}}
              </div>
            </div>

            <div class="form-group">
              <label for="content">content:</label>
              <br />
              <div class="img-fluid">
                {{ form.media }} {{form.content }}
              </div>
            </div>
          </div>

          <input type="submit" value="submit" />
        </form>
      </div>
    </div>

    <script
      src=" https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
